@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

/* TEXTANIMATORSTART */

.fade {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-out {
    opacity: 0;
    transform: translateY(20px);
}


/* DropDown Start */
.complex-dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .hidden-content-def {
    display: none;
    position: absolute;
    background-color: black; /* Background color */
    color: white; /* Text color */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 0; /* Adjusted padding */
    border-radius: 8px; /* Border radius */
    z-index: 1;
  }
  
  .complex-dropdown-container:hover .hidden-content-def {
    display: block;
  }
  
  .dropdown-item-text-qwe {
    color: white; /* Ensure the text is white */
    text-decoration: none; /* Remove underline from links */
    padding: 8px 16px; /* Added padding for clickable area */
    display: block; /* Ensure each item is block-level */
  }
  
  .dropdown-item-text-qwe:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light hover effect */
  }
/* DropDown End */